
<style>
    .news-board {
        border-radius: 10px 10px 0 0;
        background: rgb(36 36 36 / 1);
        padding: 2rem;
        min-height: 100vh;
        height: max-content;
        margin-top: 10rem;
    }
    .news-board__nav__item {
        width: max-content;
    }

    .news-board__nav__item .custom-btn {
        color: white;
    }

    .news-board__nav__item .custom-btn.active {
        font-weight: bold;
        color: rgb(100, 100, 200);
        background: rgba(255, 255, 255, 0.2);
    }
</style>
<div class="container news-board">
    <div class="row news-board__nav">
        <div class="news-board__nav__item">
            <button class="btn custom-btn active">Khám phá</button>
        </div>
        <div class="news-board__nav__item">
            <button class="btn custom-btn">Tin tức</button>
        </div>
        <div class="news-board__nav__item">
            <button class="btn custom-btn">Thể thao</button>
        </div>
        <div class="news-board__nav__item">
            <button class="btn custom-btn">Game</button>
        </div>
        <div class="news-board__nav__item">
            <button class="btn custom-btn">Tài chính</button>
        </div>
        <div class="news-board__nav__item">
            <button class="btn custom-btn">Thời tiết</button>
        </div>
    </div>
</div>