<style>
    .search-bar {
        display: flex;
        padding: 10px;
        border-radius: 999px;
        background: #4a4a4a;
        color: white;
        max-width: 1000px;
    }

    .search-bar input {
        background: none;
        border: none !important;
        outline: none !important;
        color: white;
        width: 100%;
    }

</style>
<div class="search-bar mx-auto">
    <label class="d-flex h-100 px-2 my-auto" style="margin-right: 10px"><i class="fa-solid fa-magnifying-glass m-auto"></i></label>
    <input type="text" class="py-1" placeholder="Tìm kiếm trên Web" />
</div>