@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="custom-card text-center mx-auto" style="background: rgba(255, 255, 255, 0.5); margin-bottom: 1rem;">
    <h1 class="display-4 text-dark">Welcome</h1>
</div>

<partial name="~/Components/SearchBar.cshtml" />
<partial name="~/Components/NewsBoard.cshtml" />
@section Scripts {
    <script type="text/javascript">
        $(function () {
            var backgroundUrl = `https://picsum.photos/1920/1080`;
            document.querySelector('html').style.backgroundImage = `url("${backgroundUrl}")`;
        });
    </script>
}