html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    transition: background-image 1s;
}

body {
    background: none;
    color: white;
}

* {
    box-sizing: border-box;
}

.custom-navbar {
    background: none;
}

.custom-card {
    border-radius: 7px;
    background: rgb(250, 250, 250);
    border: none;
    width: max-content;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.bg-white-op50 {
    background: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255,0.5));
}

.navbar-btn {
    background: rgba(255, 255, 255, 0);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    border: none;
    width: max-content;
    padding: 1rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

    .navbar-btn:hover {
        color: white;
        background: rgba(255, 255, 255, 0.3);
    }

    .navbar-btn .icon {
        width: max-content;
        height: 40px;
        margin: auto 5px;
    }

.custom-card.bg-white-op50:hover {
    background: white;
}

.container {
    max-width: 2000px;
    width: 90vw;
}

#main-menu {
    position: absolute;
    bottom: 0;
    transform: translate(0, calc(100% + 10px));
    color: white;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.25s ease-in;
}

#main-menu.show {
    transition: all 0.25s ease-in;
    max-height: 500px;

    animation-name: show-mainmenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes show-mainmenu {
    0% {
        opacity: 0;
        transform: translate(0, calc(100% + 10px));
    }
    100% {
        opacity: 1;
        transform: translate(0, 100%);
    }
}

#main-menu a {
    text-decoration: none;
    color: white;
}

    #main-menu a:hover {
        color: rgb(200, 200, 255);
    }

#main-menu ul {
    background: none;
}

    #main-menu ul li {
        padding: 0;
        background: none;
    }

        #main-menu ul li a {
            display: block;
            padding: 14px 2rem;
        }
